<!-- 
<ul>
  <li><a routerLink="/business/register-user">Register User</a></li>
  <li><a routerLink="/business/start-gym">Start Gym</a></li>
  <li><a routerLink="/business/update-user-package">Update User Package</a></li>
  <li><a routerLink="/business/renewal">Renewal User Package</a></li>
  <li><a routerLink="/business/entry-in-gym">Entry in Gym</a></li>

</ul>
<hr />
<router-outlet></router-outlet> -->
<div class="package-nav">
  <a routerLink="/business/register-user">
    <button class="bg-[#ffdab9] hover:bg-[#E2BE9E] text-gray-900 font-bold py-2 px-4 border border-gray-700 rounded">
      Register User
    </button>
  </a>
  <a routerLink="/business/start-gym">
    <button class="bg-[#ffdab9] hover:bg-[#E2BE9E] text-gray-900 font-bold py-2 px-4 border border-gray-700 rounded">
      Start Gym
    </button>
  </a>
  <a routerLink="/business/update-user-package">
    <button class="bg-[#ffdab9] hover:bg-[#E2BE9E] text-gray-900 font-bold py-2 px-4 border border-gray-700 rounded">
      Update User Package
    </button>
  </a>
  <a routerLink="/business/renewal">
    <button class="bg-[#ffdab9] hover:bg-[#E2BE9E] text-gray-900 font-bold py-2 px-4 border border-gray-700 rounded">
      Renewal User Package
    </button>
  </a>
  <a routerLink="/business/entry-in-gym">
    <button class="bg-[#ffdab9] hover:bg-[#E2BE9E] text-gray-900 font-bold py-2 px-4 border border-gray-700 rounded">
      Entry in Gym
    </button>
  </a>
</div>

<hr />

<router-outlet></router-outlet>
