
<div class="form-section">

    <div class="forms">

        <p class="component-heading">Add Gym</p>
        <form [formGroup] = "gymForm" (ngSubmit)="onSubmit()">
            <div>
                <label for="name" class="leading-7 text-sm text-gray-600">Name </label>
                <input type="text" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" id="name" name="name" formControlName="name" required>
                <div class="text-red-500" *ngIf="f.name.errors?.['required'] &&(f.name.dirty || f.name.touched)">Name is required</div>
                <div class="text-red-500" *ngIf="f.name.errors?.['minlength'] && (f.name.dirty || f.name.touched)">Name must be at least 3 characters long</div>
                <div class="text-red-500" *ngIf="f.name.errors?.['maxlength'] && (f.name.dirty || f.name.touched)">Name cannot exceed 20 characters</div>
            </div>
            <div >
                <label for="location" class="leading-7 text-sm text-gray-600">Location </label>
                <input type="text" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" id="location" name="location" formControlName="location" required>
                <div class="text-red-500" *ngIf="f.location.errors?.['required'] &&(f.location.dirty || f.location.touched)">Location is required</div>
                <div class="text-red-500" *ngIf="f.location.errors?.['minlength'] && (f.location.dirty || f.location.touched)">Location must be at least 3 characters long</div>
                <div class="text-red-500" *ngIf="f.location.errors?.['maxlength'] && (f.location.dirty || f.location.touched)">Location cannot exceed 20 characters</div>
            </div><br>
            
        
            <input type="submit" value="Add Gym" class="text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg">
        </form>

    </div>
</div>
