<p>Delete Trainer by Id</p>
<form [formGroup] = "trainerIdForm" (ngSubmit)="onSubmit()">
    
    <div class="form-group">
        <label for="id">Trainer ID </label>
        <input type="number" class="form-control" id="id" name="id" formControlName="id" required>
        <div class="text-danger" *ngIf="f.id.errors?.['required'] &&((f.id.dirty || f.id.touched))">ID is required</div>
        <div class="text-danger" *ngIf="f.id.errors?.['min'] && (f.id.dirty || f.id.touched)">ID must be atleast 1</div>
        
    </div><br>

    <input type="submit" value="Delete Trainer" class="btn btn-primary">
    
</form>
