
<div class="form-section">

    <div class="forms">

        <p class="component-heading">Renewal User Package</p>
        <form [formGroup] = "userPackageRenewalForm" (ngSubmit)="onSubmit()">

            <div >
                <label for="uid" class="leading-7 text-sm text-gray-600">User ID </label>
                <input type="number" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" id="uid" name="uid" formControlName="uid" required>
                <div class="text-red-500" *ngIf="f.uid.errors?.['required'] &&((f.uid.dirty || f.uid.touched))">ID is required</div>
                <div class="text-red-500" *ngIf="f.uid.errors?.['min'] && (f.uid.dirty || f.uid.touched)">ID must be atleast 1</div>
            </div><br>
        
            <input type="submit" value="Renewal Package" class="text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg">
        </form>
        <br>
        <div *ngIf="resultString != null" class="shown-data"><b>{{resultString}}</b></div>
    </div>
</div>




