

<p class="component-heading">List of Users</p>

<div class="display-all ">
    <table class="w-auto text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400   shadow-md sm:rounded-lg" >
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                
                <th class="px-6 py-3">User ID</th>
                <th class="px-6 py-3">Name</th>
                <th class="px-6 py-3">Email</th>
                <th class="px-6 py-3">Phone No.</th>
                <th class="px-6 py-3">Package Expiry Date</th>
                <th class="px-6 py-3">Trainer Name</th>
                <th class="px-6 py-3">Package Name</th>
                <th class="px-6 py-3">Gym Name</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let user of userList" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                
                <td class="px-6 py-4">{{user?.id}}</td>
                <td class="px-6 py-4">{{user?.name}}</td>
                <td class="px-6 py-4">{{user?.email}}</td>
                <td class="px-6 py-4">{{user?.phoneNo}}</td>
                <td class="px-6 py-4">{{user?.packageExpiryDate}}</td>
                <td class="px-6 py-4">{{user?.trainer?.trainerName}}</td>
                <td class="px-6 py-4">{{user?.packages?.packageName}}</td>
                <td class="px-6 py-4">{{user?.gymAdmin?.name}}</td>
                
            </tr>
        </tbody>
    </table>
</div>
