<!-- <ul>
    <li><a routerLink="/gym/getall">Get All Gyms</a></li>
    <li><a routerLink="/gym/add">Add Gym</a></li>
    <li><a routerLink="/gym/get">Get Gym by id</a></li>
    <li><a routerLink="/gym/delete">Delete Gym by id</a></li>
    <li><a routerLink="/gym/update">Update Gym by id</a></li>
  </ul>
  <hr>
  <router-outlet></router-outlet> -->

  <div class="package-nav">
    <a routerLink="/gym/getall">
      <button class="bg-[#ffdab9] hover:bg-[#E2BE9E] text-gray-900 font-bold py-2 px-4 border border-gray-700 rounded">
        Get All Gyms
      </button>
    </a>
    <a routerLink="/gym/add">
      <button class="bg-[#ffdab9] hover:bg-[#E2BE9E] text-gray-900 font-bold py-2 px-4 border border-gray-700 rounded">
        Add Gym
      </button>
    </a>
    <a routerLink="/gym/get">
      <button class="bg-[#ffdab9] hover:bg-[#E2BE9E] text-gray-900 font-bold py-2 px-4 border border-gray-700 rounded">
        Get Gym by id
      </button>
    </a>
    <a routerLink="/gym/update">
      <button class="bg-[#ffdab9] hover:bg-[#E2BE9E] text-gray-900 font-bold py-2 px-4 border border-gray-700 rounded">
        Update Gym by id
      </button>
    </a>
    <a routerLink="/gym/delete">
      <button class="bg-[#ffdab9] hover:bg-[#E2BE9E] text-gray-900 font-bold py-2 px-4 border border-gray-700 rounded">
        Delete Gym by id
      </button>
    </a>
    
  </div>
  
  <hr />
  
  <router-outlet></router-outlet>
