.form-section{
    display: flex;
    justify-content: center;

}

.forms{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-color: grey;
    border-radius: 1rem;
    border-style: solid;
    border-width: 2px;
    width: auto;
    
}

.component-heading{
    text-align: center;
    margin-top: 1rem;
   
    font-size: x-large;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}

form{
    
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

form>div{
    margin-bottom: 0.5rem;
}

.shown-data{
    padding: 1rem;
    font-family:'Courier New', Courier, monospace;
}