
<div class="form-section">

    <div class="forms">

        <p class="component-heading">Register User</p>
        <form [formGroup] = "registerUserForm" (ngSubmit)="onSubmit()">

            <div >
                <label for="name" class="leading-7 text-sm text-gray-600"> User Name </label>
                <input type="text" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" id="name" name="name" formControlName="name" required>
                <div class="text-red-500" *ngIf="f.name.errors?.['required'] &&(f.name.dirty || f.name.touched)">Name is required</div>
                <div class="text-red-500" *ngIf="f.name.errors?.['minlength'] && (f.name.dirty || f.name.touched)">Name must be at least 3 characters long</div>
                <div class="text-red-500" *ngIf="f.name.errors?.['maxlength'] && (f.name.dirty || f.name.touched)">Name cannot exceed 20 characters</div>
            </div>
        
            <div >
                <label for="email" class="leading-7 text-sm text-gray-600"> Email </label>
                <input type="email" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" id="email" name="email" formControlName="email" required>
                <div class="text-red-500" *ngIf="f.email.errors?.['required'] &&(f.email.dirty || f.email.touched)">Email is required</div>
                <div class="text-red-500" *ngIf="f.email.errors?.['email'] &&(f.email.dirty || f.email.touched)">Invalid Email format</div>
        
            </div>
        
            <div >
                <label for="phoneNo" class="leading-7 text-sm text-gray-600"> Phone No </label>
                <input type="text" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" id="phoneNo" name="phoneNo" formControlName="phoneNo" required>
                <div class="text-red-500" *ngIf="f.phoneNo.errors?.['required'] &&(f.phoneNo.dirty || f.phoneNo.touched)">Phone No. is required</div>
                <div class="text-red-500" *ngIf="f.phoneNo.errors?.['minlength'] && (f.phoneNo.dirty || f.phoneNo.touched)">Phone No must be 10 digits</div>
                <div class="text-red-500" *ngIf="f.phoneNo.errors?.['maxlength'] && (f.phoneNo.dirty || f.phoneNo.touched)">Phone No must be 10 digits</div>
            </div><br>
        
            <input type="submit" value="Register User" class="text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg">
        </form>
    </div>
</div>




