<p>Get Gym by id</p>

<form [formGroup] = "gymIdForm" (ngSubmit)="onSubmit()" >
    
    <div >
        <label for="gymID">Gym ID </label>
        <input type="number"  id="gymID" name="gymID" formControlName="gymID" required>
        <div class="text-rose-500" *ngIf="f.gymID.errors?.['required'] &&((f.gymID.dirty || f.gymID.touched))">ID is required</div>
        <div class="text-danger" *ngIf="f.gymID.errors?.['min'] && (f.gymID.dirty || f.gymID.touched)">ID must be atleast 1</div>
        
    </div><br>

    <input type="submit" value="Get Gym Data" >
</form>  
    <div *ngIf="gym != null">
        <br>
        <div >Gym id: {{gym.gymID}}</div>
        <div>Gym Name: {{gym.name}}</div>
        <div>Gym Location: {{gym.location}}</div>
    </div>

